.special {
  color: red;
}

.grace_about {
  color: blue;
  font-family: sans-serif;
  font-weight: bold;
}

.rowfact {
  border: 2px solid blue;
  border-width: thick;
  padding: 4px;
}

.h2 {
  float: center;
  text-align: center;
}

img {
  float: right;
  max-width:100%;
  max-height:100%;
  overflow: auto;
  padding: 11px;
}
